.page-header
  %h1= @cocktail.name

%ul.unstyled
  - @cocktail.measured_ingredients.each do |measured_ingredient|
    %li
      = measured_ingredient.measure
      = measured_ingredient.ingredient.try(:name)
