!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  - @cocktails.each do |cocktail|
    %url
      %loc= cocktail_url(cocktail)
      %lastmod= cocktail.updated_at.utc
      %changefreq monthly
      %priority 0.5

  - @ingredients.each do |ingredient|
    %url
      %loc= ingredient_url(ingredient)
      %lastmod=ingredient.updated_at.utc
      %changefreq monthly
      %priority 0.5
